h1 {color: rgba(166, 56, 194, 0.836);}

h2 { color: rgb(12, 10, 12); background-color: hsl(202, 100%, 50%);}
h3 {color: rgb(19, 153, 216);}

td /* Toutes les cellules des tableaux... */
{
    border: 2px solid black; /* auront une bordure de 2px */
}

.flotte {
    float:right;
    }